# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Editors
.vscode/
.claude/
.idea/
*.swp
*~


# ZMK / Zephyr build output (in case you ever build locally)
build/
*.uf2
*.hex
*.bin
zephyr/*
!zephyr/module.yml
.west/

# reference
qmk sinc mreel/